<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Registrar Usuario</title>
</head>
<body>
    <h2>Registrar Usuario</h2>
    <form method="POST" action="{{url_for('agregar_usuario')}}">
        <label for="">Nombre: </label>
        <input type="text" name="txtnombre" required placeholder="Ingresar Nombre">

        <label for="">Apellido: </label>
        <input type="text" name="txtapellido" required placeholder="Ingresar Apellido">

        <label for="">Email</label>
        <input type="email" name="txtemail" required placeholder="Ingresar cooreo electronico">

        <label for="">Contraseña</label>
        <input type="password" name="txtpassword" required placeholder="Ingresar contraseña">

        <button type="submit">Guardar</button>
    </form>
</body>
</html>